streamlit
langchain
langgraph
langchain-community
langchain-core
langchain-google-genai
langchain-huggingface
sentence-transformers
python-dotenv
faiss-cpu
pypdf
duckduckgo-search
requests
langchain-google-genai
